body{
    background-image: linear-gradient(rgb(229, 189, 174), rgba(199, 207, 199, 0.785));
}
.container-fluid{
    background: rgb(131, 149, 167);
    background:linear-gradient(rgb(238, 90, 36),rgb(255, 195, 18)); 
    height: 90px;
  
}
.container-fluid:hover{
    box-shadow: 5px 5px 5px  #636e72, -5px -5px 5px rgb(131, 149, 167);  
}
.row{
    /* border: 4px solid green; */
    display: flex;
    flex-direction: row;
    

}
.col-3,.col-6{
    /* border: 2px solid red; */
   
}
#jagannathji{
    margin-top: 3px;
    margin-left: 100px;
    padding:5px 5px 5px 5px;
    border-radius: 50px;
    /* border: 1px solid rgb(255, 165, 2); */
    box-shadow: 5px 5px 30px 2px  rgb(242, 48, 4);
    animation: jaga 5s infinite; 
}
 @keyframes jaga{
    0%{background-color: orange;}
    25%{background-color:  rgb(235, 47, 6)}
    50%{background-color: rgb(255, 165, 2)}
    75%{background-color: rgb(235, 47, 6)}
    85%{background-color: rgb(255, 165, 2)}
    100%{background-color:rgb(235, 47, 6) }
} 
#jagannathji:hover{
    box-shadow: 5px 5px 5px  rgb(255, 165, 2), -5px -5px 5px rgb(255, 165, 2);
}

.col-6,ul,li{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 15px 5px 5px 25px;
    margin-left: 30px;
    gap: 5px;
}
ul,li{
    font-size: 20px;
    padding: 7px 2px 2px 7px;
    /* background-color: rgb(200, 214, 229); */
}
li:hover{
    background-color: rgb(200, 214, 229) ;
    border-radius: 25px;
}
.caption{
    margin-top: 15px;
    padding: 6px 5px 5px 5px;
    margin-left: 300px;
    font-size: 50px; 
    color: rgb(254, 202, 87);
    text-shadow: 5px 5px 5px rgb(254, 202, 87);
}
.container-1{
    height:420px;
    width:1000px;
    margin-top: 20px;
    margin-left: 200px;
    border-radius:5px 5px 5px 5px ;
    background-image: linear-gradient(rgb(196, 229, 56), rgba(255, 255, 0, 0.5));
}
.container-1:hover{
    box-shadow: 5px 5px 5px  rgb(116, 125, 140), -5px -5px 5px rgb(116, 125, 140);
}
.r1{
    gap: 5px;
}
.balabhadra{
    margin: 50px 50px 50px 50px;
    border-radius: 0px ;
   
}
.balabhadra:hover{
    box-shadow: 5px 5px 5px  rgb(116, 125, 140), -5px -5px 5px rgb(116, 125, 140);
}
.b1{
    height: 40px;
    width: 200px;
    transform: translate(230px,-100px);
}
.h{
  padding: 0px 0px 20px 30px;
  color: rgb(5, 196, 107);
  text-shadow: 20px 20px 20px 10px black;
  
}
.shubhadra{
    margin: 50px 50px 50px 50px;
    border-radius: 0px 0px 0px 0px;
}
.shubhadra:hover{
    box-shadow: 5px 5px 5px  rgb(116, 125, 140), -5px -5px 5px rgb(116, 125, 140);
}
.b2{
    height: 40px;
    width: 200px;
    transform: translate(550px,-160px);
}
.h1{
  padding: 0px 0px 20px 30px;
  color: rgb(255, 71, 87);
}
.jagannath{
    margin: 50px 50px 50px 50px;
    border-radius: 0px 0px 0px 0px;
}
.jagannath:hover{
    box-shadow: 5px 5px 5px  rgb(116, 125, 140), -5px -5px 5px rgb(116, 125, 140);
}
.b3{
    height: 40px;
    width: 200px;
    transform: translate(850px,-220px);
}
h2{
  padding: 0px 0px 20px 30px;
  color: rgb(255, 168, 1);
  
}
.container-2{
    margin-top: -150px;
    border-radius: 5px;
    background:  linear-gradient(#D980FA, rgba(255, 255, 0, 0.5));;

}
.container-2:hover{
    box-shadow: 2px 2px 2px  rgb(116, 125, 140), -2px -2px 2px rgb(116, 125, 140);
}

#hj{
    color: #B53471;
    text-shadow: 5px 5px 5px #833471;
    padding-left: 25px;
}
.text{
    padding: 5px 5px 5px 5px;
}
#hj:hover{
    text-shadow: 2px 2px 2px  rgb(116, 125, 140), -2px -2px 2px rgb(116, 125, 140);
}
p{
    font-size: 18px;
    color: #576574;
    text-shadow: 2px 2px 2px;
    padding: 5px 5px 5px 5px;
}
#vedio{
    
    padding: 15px 15px 15px 15px;
    border-radius: 50px 50px 50px 50px;
}
#vedio:hover{
    box-shadow: 2px 2px 2px  rgb(116, 125, 140), -2px -2px 2px rgb(116, 125, 140);
}
.container-3{
    height: auto;
    width: auto;
    margin-bottom: 190px;
    margin-top: -150px;
    border: 1px dotted #576574;
}
.container-3:hover{
    box-shadow: 2px 2px 2px  rgb(213, 218, 227), -2px -2px 2px rgb(83, 85, 90);
}

.container-4{
    
    background:  linear-gradient(rgb(229, 189, 174), rgba(199, 207, 199, 0.785));;
    width: 1100px;
    height: 350px;
    margin:20px 30px 30px 100px;

     display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows:300px 300px  300px;
    grid-gap: 50px 150px
   
}
.container-4:hover{
    box-shadow: 2px 2px 2px  rgb(193, 201, 212), -5px -5px 10px #b2bec3;
}
.img1{
    height: 300px;
    width: 300px;
    margin-left: 40px;
    margin-top: 20px;
    animation: litu 5s infinite;
    background-image: url(puri-sixteen_nine.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.img1:hover{
    box-shadow: 2px 2px 2px  #c0c5c5, -5px -5px 10px #576574;
}

@keyframes litu{
0%{background-image:url(download\ \(1\).jpeg);}
25%{background-image:url(download\ \(2\).jpeg);}
50%{background-image: url(jaganathji.jpg);}
75%{background-image: url(puri-sixteen_nine.webp);}
100%{background-image: url(puri_nov_nov_c9mHcTx.jpg);}
}

.img2{
    height: 300px;
    width: 300px;
    margin-left: 40px;
    margin-top: 20px;
    animation: bitu 5s infinite;
    background-image: url(p1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.img2:hover{
    box-shadow: 2px 2px 2px  #c0c5c5, -5px -5px 10px #576574;
}
@keyframes bitu{
    0%{background-image:url(p1.jpeg);}
    50%{background-image:url(p3.jpeg);}
    75%{background-image: url(pp2.jpeg);}
    100%{background-image: url(pp3.jpeg);}
}
.img3{
    /* border: 2px solid black; */
    height: 300px;
    width: 300px;
    margin-left: 40px;
    margin-top: 20px;
    animation: mitu 5s infinite;
    background-image: url(p1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.img3:hover{
    box-shadow: 2px 2px 2px  #c0c5c5, -5px -5px 10px #576574;
}
@keyframes mitu{
    0%{background-image:url(c1.jpeg);}
    50%{background-image:url(c2.jpeg);}
    75%{background-image: url(c3.jpeg);}
    100%{background-image: url(p3.jpeg);}
}
.container-5{
    height: 500px;
    width: auto;
    background-color: #222f3e;
    display: flex;
    color: white;
    gap: 30px;

}
.container-5:hover{
    box-shadow: 2px 2px 2px  #c0c5c5, -5px -5px 10px #576574;
}
.footer{
   height: 500px;
   width: 400px;
}
#jaga1{
 padding: 25px 15px 10px 40px;
 border-top-left-radius: 120px;
 border-top-right-radius:100px;
}
#jaga{
    color: #bccddf;
}
.footer1{
    height: 500px;
   width: 400px;
}
#bala{
    padding: 25px 15px 10px 40px;
    border-top-left-radius: 120px;
    border-top-right-radius:100px;
}
#bala1{
    color: #bccddf;
}
.footer2{
    height: 500px;
    width: 400px;
}
#subha{
    padding: 25px 15px 10px 40px;
    border-top-left-radius: 120px;
    border-top-right-radius:100px;
    margin-left: 60px;
}
#subha1{
    color: #bccddf;
}
i{
    color: red;
}
h1{
    text-align: center;
    text-decoration: dashed;
    color: #576574;
    text-shadow: 2px 2px 2px  rgb(116, 125, 140), -2px -2px 2px #cec783;
}
